----------------------
Download Ollama
- Pull llama3
- Pull Mistral
- Pull nomic-embed-text
-----------------------

---------------------------------
Install dependencies Dependencies 
---------------------------------
langchain
langchain_community
chromadb
streamlit
